/* geral */
html {
	font-family: 'Open Sans', sans-serif;
}

/* reset */
body {
	margin: 0;
}

h1, h2, h3, h4, h5, p, span {
	margin: 0;
	color: #666;
}

.container {
	max-width: 1920px;
	width: 100%;
}

/* header */
header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

/* navbar */
nav { 
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
 }

 nav:after {
 	clear: both;
 	content: "";
 	display: block;
 }

 .nav-container {
 	max-width: 1200px;
 	position: relative;
 	margin-right: auto;
 	margin-left: auto; 	
 }

 #logo {
 	width: 50px;
 	height: 50px;
 	margin-top: 25px;
 }

 .nav-container ul {
 	float: right;
 	height: 100px;
 	line-height: 100px;
 	margin: 0;
 }

 .nav-container li {
 	list-style: none;
 	float: left;
 	margin: 0 15px;
 }

 .nav-container li a {
 	text-decoration: none;
 	color: #666;
 	transition: .5s;
 }

 .nav-container li a:hover {
 	color: #3381F3;
 }

/* banner  */
 #main-banner {
 	background-color: red;
 	background: url('../img/banner6.jpg') no-repeat;
 	background-size: cover;
 	background-position: 0 55%;
 	position: relative;
 	margin-top: 100px;
 }

 #search-form {
 	position: relative;
 	width: 80%;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top: 15em;
 	padding-bottom: 15em;
 	text-align: center;
 }

 #search-form h1 {
 	font-size: 40px;
 }

 #search-form p {
 	margin-top: 30px;
 	margin-bottom: 60px;
 	font-size: 18px;
 	font-weight: 300px;
 }

/* Formulario */
 #search-form input, #search-form select {
 	background-color: #FFF;
 	border-radius: 5px;
 	border-color: transparent;
 	padding: 10px 20px;
 	font-size: 18px;
 	margin: 0 10px;
 }

#search-form input[type=submit] {
 	background-color: #3381f3;
 	text-transform: uppercase;
 	color: #FFF;
 	cursor: pointer;
 	transition: 0.5s;
 }

 #search-form input[type=submit]:hover {
 	background-color: #2B79EB;
 	/*background-color: #191970;*/
 }


 *{
	margin: 0;
	padding: 0;
}
#topo{
	height: 70px;
 	background-color: #FFF;
     background: white;
}
#menu{
 	background-color: #FFF;
     background-color: rgba();
}
#menu ul, li{
	display: inline-table;
	padding: 20px 30px;
	cursor: pointer;
}
#menu ul li a{
	text-decoration: nome;
	color: purple;
}
#menu ul li:hover{
	background-color: rgba(white);
}
#conteudo{
 	background-color: #FFF;
     background-color: white;
	min-height: 500px;
}
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

img{
	max-width: 90%;
	width: 10cm;
	height: 12cm;
	object-fit: contain;
}

.slogan-image {
    float: left;
    height: 50px;
    width: 50px;
    margin: 15px;
    border-radius: 50%;
}