.container{
	width: 100%;
	margin-top: 10%;
	font-family: sans-serif;
	letter-spacing: 1px;
}



.row{
	margin-top: 30px;
}

.img_produto {
	max-width: 100%;
	/* max-height: 100%; */
	height: inherit;
}

.product-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


.produtos {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.produto-unico {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.detalhe-produto {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}