/* geral */
html {
	font-family: 'Open Sans', sans-serif;
}

/* reset */
body {
	margin: 0;
}




h1, h2, h3, h4, h5, p, span {
	margin: 0;
	color: #666;
}

.container {
	max-width: 1920px;
	width: 100%;
}

/* header */
header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

#

/* navbar */
nav {
	position: fixed;
	top: 0;
	height: 143px;
	width: 100%;
	z-index: 1;
	background-color: rgb(0, 134, 255);;
	border-bottom: 1px solid #CCC;
 }

 nav:after {
 	clear: both;
 	content: "";
 	display: block;
 }

 .nav-container {
 	max-width: 1920px;
 	position: relative;
 	margin-right: auto;
 	margin-left: auto;
	background-color: #3381F3;
	height: 164px;
 }

 #logo {
 	width: 161px;
 	height: 180px;
 	margin-top: -35px;
	margin-left: 352px;
 }

 #logo2 {
	width: 300px;
	height: 180px;
	margin-top: -17px;
   margin-left: -380px;
}


 .separator {
	height: 5px;
	background: linear-gradient(
		90deg, 
		#FFFF4A 0%, 
		#FCD000 4%, 
		#FFC112 8%, #FFC112 11%, #FF8A00 16%, #FF5F5F 22%, #FF253A 28%, #FF37A8 37%, #C739FF 49%, #A400E1 56%, #2ECEFF 72%, #0086FF 80%, #72F772 94%, #00D604 100%);
	max-width: 956px;
	margin: -5px 450px;

 }

 .nav-container ul {
	float: right;
	height: 50px;
	line-height: 100px;
	margin: auto;
   max-width: 100%;
   width: 100%;
   position: relative;
}

.nav-container li {
	list-style: none;
	float: left;
	margin: -25px 15px;
}

.nav-container li a {
	text-decoration: none;
	color: #FFF;
	transition: .5s;
}

.nav-container li a:hover {
	color: #000;
}

/* banner  */
#main-banner {
	background-color: red;
	background: url('../img/banner6.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
	margin-top: 100px;
}

#search-form {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}

#search-form h1 {
	font-size: 40px;
}

#search-form p {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 300px;
}

/* Formulario */
#search-form input, #search-form select {
	background-color: #FFF;
	border-radius: 5px;
	border-color: transparent;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
}

#search-form input[type=submit] {
	background-color: #3381f3;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	transition: 0.5s;
}

#search-form input[type=submit]:hover {
	background-color: #2B79EB;
	/*background-color: #191970;*/
}

#divBusca{
  background-color:#ffffff;
  border:solid 2px gray;
  border-radius:10px;
  width:655px;
  height:32px;
	margin-left: 515px;
	margin-top: -110px;
}

#txtBusca{
   float:left;
   background-color: transparent;
   padding-left: 10px;
   font-size: 13px;
   border: none;
   height: 32px;
   margin-top: 0px;
   width:191px;
}

#icon_pesquisa {
   display: block;
   margin-left: 636px;
   margin-top: 5px;
}

.bars {
   color:#FFF;
}

.separator {
   height: 5px;
   max-width: 100%;
   margin: -50px 0px;
   background-color: red;
   width: 100%;
   position: relative;
   top: 50px;

}

.user {
   margin: -20px 60px;
   height: 30px;
   width: 30px;
}

.textos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 320px;
	word-spacing: 0px;
	line-height: 1.5em;
}

.icones {
	color:#FFF;
	margin: -27px 1255px;
	white-space: nowrap;
}

.bemvindo {
	margin: -20px 30px;
}